.App {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../public/tickets.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
img {
  width: 10rem;
  height: 10rem;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.searched {
  width: 100vw;
}
